
  <div class="section-dark">
    <div class="container-margin w-container">
      <div class="body-text">
        <p>We are immigrants. We are servicemembers. We are veterans. We are designers, engineers, product managers, civil servants, creators, collaborators, artists. We are Americans.</p>
        <p>We are a minority-owned small business, and we are certified as a Service Disabled Veteran Owned Small Business (SDVOSB).</p>
        <h2>Partnered with you, we can achieve anything.</h2>
      </div>
      <h4 class="section-header" id="our-work" tabindex="0">Our Work</h4>
    </div>
  </div>
