
  <div class="section section-light" id="our-approach">
    <h4 class="section-header" tabindex="0">Our Approach</h4>

    <div class="container-margin w-container">
      <div class="body-text">
        <p>We focus on people’s needs to determine how design can help them.</p>
        <p>We believe partnerships with people are more valuable than contracts with companies.</p>
        <p>We foster a supportive, creative work environment and take a holistic, intentional approach to projects so that we can provide the best solutions possible.</p>
        <p>We believe that technology should do no harm. We believe that technology can be designed with people at its center and have positive social impact that, when paired with policy and a critical eye to the challenges that society faces, can improve our way of life. Our <a href="https://github.com/prtnrs/intake-framework" target="_blank" tabindex="0">intake framework</a> ensures our core values are imbued in every product, practice, partnership, and service we undertake.</p>
      </div>
    </div>
  </div>
