
  <div class="footer">
    <div class="container-margin w-container">
      <div class="social-links">
          <a href="https://medium.com/andpartners" target="_blank" class="social-link w-inline-block" tabindex="0"><img src="./assets/images/social-links-medium-box.svg" height="20" alt=""></a>
          <a href="https://www.linkedin.com/company/prtnrsco/" target="_blank" class="social-link w-inline-block" tabindex="0"><img src="./assets/images/social-links-02.svg" height="20" alt=""></a>
          <a href="https://twitter.com/andprtnrs" target="_blank" class="social-link w-inline-block" tabindex="0"><img src="./assets/images/social-links-01.svg" height="20" alt=""></a>
      </div>
      {{!-- <div class="footer-buttons w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny"><a href="#" class="button-primary button-footer w-button">Report a bug</a><a href="#" class="button-primary button-footer w-button">POLICIES</a></div> --}}
    </div>
  </div>
