
  <div class="section section-hero">
    <div class="container container-margin w-container">
      <a href="#" class="w-inline-block" tabindex="0"><img src="images/logo-white.png" width="50" alt="&Partners"></a>
      <a href="#contact-us" class="button-primary button-black button-header w-button" tabindex="0">Let&#x27;s Talk</a>
      <div class="cover-header-spacing">
        <h4 class="whitetext" tabindex="0">Hello</h4>
        <h1 class="whitetext cover-header">We build ethical technology products that disrupt the status quo through human-centered design and research.</h1>
      </div>
    </div>
    <div class="container-margin w-container">
      <h4 class="section-header" tabindex="0">About</h4>
    </div>
  </div>
