
	<div class="section section-dark" id="our-team">

		<h4 class="section-header" tabindex="0">Our Team</h4>

		<div class="container-margin w-container">
			<div class="body-text">
				<p>Our team is comprised of product designers, product managers, software engineers, user experience designers, researchers, and storytellers whose collective work in the civic tech space has helped government agencies and nonprofits deliver better, more equitable services for their constituencies.</p>
        <p>We believe in the power of small, cross-functional teams to collaborate and get things done. Our team is nimble, adaptable, and uses Agile practices internally and externally.</p>
			</div>
		</div>

	</div>
