
  <div class="section section-light" id="our-work">

    <h4 class="section-header" tabindex="0">Our Work</h4>

    <div class="container-margin w-container our-work-container">
      <div class="body-text">
        {{>work-carousel}}
      </div>
    </div>

    <div class="container-margin w-container">
      <div class="body-text">
        <h2>There’s a lot more we’ve done, but we’d rather talk about what we can do next in partnership with you.</h2>
      </div>
    </div>

  </div>
