h1 {
  max-width: 720px;
  margin: 0;
  font-family: $serif-font;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 300;
}
h2 {
  max-width: 720px;
  margin-top: 60px;
  margin-bottom: 0;
  font-family: $serif-font;
  font-size: 24px;
  line-height: 1.75;
  font-weight: 300;
}
h4 {
  margin-top: 150px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  color: $blue;
  text-decoration: underline;

  &:focus {
    outline-color: $orange;
  }
}
.section {
  color: $dark-gray;
  background-image: -webkit-linear-gradient(0deg, $black, transparent), url('../images/jorge-alcala-325378-unsplash.jpg');
  background-image: linear-gradient(90deg, $black, transparent), url('../images/jorge-alcala-325378-unsplash.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.section-light {
  padding-top: 60px;
  color: $dark-gray;

  .vertical-rule {
    border-color: $slate-gray;
  }

  .section-header {
    color: $slate-gray;
    &:after {
      border-color: $slate-gray;
    }
  }

  +.section-light {
    padding-top: 0;

    h2 {
      margin-top: 0;
    }
  }
}

.section-dark {
  padding-top: 60px;
  background-image: -webkit-linear-gradient(270deg, $slate-gray, $slate-gray);
  background-image: linear-gradient(180deg, $slate-gray, $slate-gray);
  color: $white;
  
  a {
    // color: #509fd3;
    color: $light-blue;
    text-decoration: underline;
  }
  
  .vertical-rule {
    border-color: $gray;
  }

  .section-header {
    color: $white;

    &:after {
      border-color: $gray;
    }
  }
}
.vertical-rule {
  display: none;
  height: 60px;
  margin-left: 20px;
  border-color: $gray;
  border-left-style: solid;
  border-left-width: 1px;
}

.vertical-rule.black-rule {
  border-color: $slate-gray;
}

.section-header {
  color: $white;
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
  margin: 100px auto 10px;

  &:after {
    content: " ";
    height: 60px;
    margin-left: 20px;
    border-color: $gray;
    border-left-style: solid;
    border-left-width: 1px;
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    filter: invert(0.5);
  }

  @media (min-width: $wide) {
    padding-bottom: 60px;
    max-width: 940px;
    margin-top: 150px;

    &:after {
      height: 120px;
      top: calc(100% - 50px);
    }
  }
}

.body-text {
  margin: 0 auto;
  max-width: 940px;

  p {
    max-width: 720px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: $serif-font;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
  }
}

.button {
  padding: 29px;
  text-decoration: none;
}
.button-2 {
  float: right;
}
.button-primary {
  padding: 12px 25px 10px;
  border-radius: 100px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
.button-primary.button-black {
  margin-top: 10px;
  background-image: -webkit-linear-gradient(270deg, #202020, #202020);
  background-image: linear-gradient(180deg, #202020, #202020);
  color: $white;
}
.button-primary.button-black.button-header {
  margin-top: 5px;
  float: right;
  box-shadow: 2px 0 15px 0 hsla(0, 0%, 100%, .4);
  letter-spacing: 1px;
  &:hover {
    background-image: -webkit-linear-gradient(270deg, #111, #111);
    background-image: linear-gradient(180deg, #111, #111);
  }
  &:active {
    background-image: -webkit-linear-gradient(270deg, $pitch-black, $pitch-black);
    background-image: linear-gradient(180deg, $pitch-black, $pitch-black);
  }
}
.button-primary.button-footer {
  margin-top: 5px;
  margin-left: 10px;
  padding-top: 10px;
  border: 1px solid #979797;
  background-color: transparent;
  color: $gray;
  font-size: 14px;
}

.body {
  font-family: $font;
  color: $slate-gray;
  font-size: 16px;
  line-height: 1em;
  font-weight: 700;
}
.container {
  padding: 40px 0;
}
.whitetext {
  display: block;
  color: $white;
}
.whitetext.cover-header {
  text-shadow: 0 1px 8px rgba(32, 32, 32, .87);
}
.whitetext.section-spacer {
  margin-top: 100px;
}
.whitetext.our-work {
  display: inline;
}
.whitetext.our-work.grey-text {
  color: $light-gray;
  &:hover {
    background-image: -webkit-linear-gradient(270deg, rgba(32, 31, 31, 0) 65%, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .2));
    background-image: linear-gradient(180deg, rgba(32, 31, 31, 0) 65%, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .2));
    color: $white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .87);
  }
}
.cover-header-spacing {
  padding-top: 0px;
  padding-bottom: 30px;
}
.heading {
  font-weight: 300;
}
.heading-2 {
  font-weight: 300;
}
.heading-3 {
  max-width: 720px;
}
.div-block {
  max-width: 720px;
}
.fake-h2-ourwork {
  max-width: 720px;
  margin-top: 10px;
}
.our-work-ampersand {
  display: inline-block;
  width: 16px;
  margin: 0px 20px 4px;
}
.form {
  max-width: 720px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.field-label {
  font-size: 14px;
  font-weight: 500;
}
.text-field {
  margin-bottom: 30px;
  border-radius: 2px;
  font-weight: 500;
  &:focus {
    border-color: $medium-blue;
  }
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid $light-gray;
}
.social-links {
  display: inline-block;
}
.social-link {
  margin: 5px;
  padding: 10px;
  color: $slate-gray;
}
.footer-buttons {
  display: inline-block;
  float: right;
}
.success-message {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: $green;
}
.sending-message {
  display: none;
}
.image {
  margin-bottom: 10px;
}
.form-block {
  max-width: 740px;
  margin-bottom: 45px;
}
.error-message {
  border-radius: 3px;
}
.email-confirm {
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 300px;
  padding: 20px;
  text-align: center;
  color: $white;
  background-color: fade-out($black, 0.5);
  border-radius: 0 0 8px 8px;
}
@media (max-width: $wide) {
  .container-margin {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  h4 {
    margin-top: 75px;
  }
  .whitetext.cover-header {
    font-size: 30px;
  }
  .social-links {
    display: flex;
    justify-content: space-around;
  }
  .footer-buttons {
    float: none;
  }
}
