// MODAL

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  font-size: 16px;
  background: $white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  transform: scale(0, 0);
  transition: transform 0.05s ease-in-out;

  .modal-content {
    display: block;
    position: relative;
    z-index: 1002;
    margin: 0 auto 70px;
    max-width: 940px;
    padding: 5vw;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  .modal-close {
    position: fixed;
    width: 100%;
    max-width: 940px;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: opacity 0.15s ease-in-out;
    z-index: 1004;

    a {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0;
      right: 0;
      font-size: 0;
      line-height: 0;
      width: 10vw;
      height: 10vw;
      max-width: 10vh;
      max-height: 10vh;
      z-index: 1005;
      border: 5px solid transparent;
      background: $slate-gray;
      transition: all 0.25s;
      text-decoration: none;

      &:before, &:after {
        content: " ";
        position: absolute;
        top: 45%;
        height: 2px;
        width: 7.5vw;
        max-width: 7.5vh;
        left: 0;
        background: $white;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }

      &:hover, &:focus {
        background: $teal;
      }
    }

    @media (min-width: $wide) {
      a {
        width: 60px;
        height: 60px;
        border: 10px solid transparent;

        &:before, &:after {
          top: 17.5px;
          width: 40px;
        }
      }
    }
  } // .modal-close

  .modal-header {
    padding: 0 30px 0 0;
  }

  .modal-body {
    position: relative;
    
    .modal-body-text {
      padding: 0 30px 0 0;
    }

    p, li {
      font-size: 1em;
      font-family: $serif-font;
      line-height: 1.5;
      font-weight: 400;
      max-width: none;
    }

    p {
      margin: 0 0 1em;
    }

    li {
      margin-bottom: 0.5em;
    }
  }

  @media (min-width: $wide) {
    font-size: 20px;

    .modal-content {
      padding: 45px 0 0;
    }
    .modal-header, .modal-body-text {
      padding-right: 0;
      max-width: 720px;
    }
  }

  &.in {
    transform: scale(1.0, 1.0);
    overflow-x: hidden;
    overflow-y: scroll;

    .modal-content {
      opacity: 1.0;
    }
  }
} // .modal

.show-modal {
  height: 100vh;
  max-height: 100%;
  overflow: hidden;

  &:before {
    position: fixed;
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    transition: all 0.25s;
    background: fade-out($white, 0.05);
  }
}