// MODAL

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  font-size: 16px;
  transform: scale(0, 0);
  transition: transform 0.25s ease-in-out;

  .modal-content {
    display: block;
    position: relative;
    z-index: 1002;
    background: $white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    &:after {
      position: absolute;
      content: " ";
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to bottom, fade-out($white, 0.5) 0%, $white 50%, $white 100%);
      height: 60px;
    }

    .wrapper {
      position: relative;
      max-width: 940px;
    }
  }

  .modal-header {
    height: 120px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: $gutter-small calc(#{$gutter-small} * 2) $gutter-small $gutter-small;
    background: fade-out($slate-gray, 0.85);
    box-shadow: 0 0px 1px fade-out($slate-gray, 0.8);

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;
    }

    .modal-close {
      display: block;
      position: absolute;
      line-height: 30px;
      width: 30px;
      margin: 12px 5px 0;
      padding: 0;
      text-decoration: none;
      top: 0;
      right: 0;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      color: $blue;
      opacity: 0.25;
      transition: all 0.25s;

      &:hover {
        color: $blue;
        opacity: 0.75;
        font-weight: 800;
      }
    }
  }

  .modal-body {
    position: relative;
    height: calc(100% - 150px);
    margin: 0 0 0 $gutter-small;
    padding: 15px calc(#{$gutter-small} * 2) 30px 0;
    top: 120px;
    overflow-y: auto;

    p, li {
      font-size: 1em;
      font-family: $serif-font;
      line-height: 1.5;
      font-weight: 400;
    }

    p {
      margin: 0 0 1em;
    }

    li {
      margin-bottom: 0.5em;
    }
  }

  @media (min-width: $wide) {
    font-size: 20px;

    .modal-header {
      height: 150px;
      padding: 15px $gutter-large;
      position: absolute;

      .modal-close {
        margin-right: 30px;
      }
    }

    .modal-body {
      top: 150px;
      margin: 0 10px 0 $gutter-large;
      // padding: 15px calc($gutter-large * 2) 30px 0;
    }
  }

  &.in {
    transform: scale(1.0, 1.0);
  }

} // .modal

body {
  &.show-modal {
    overflow: hidden;
    &:before {
      content: " ";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: fade-out($slate-gray, 0.5);
      z-index: 999;
    }
  }
}