$white: #fff;
$black: #131313;
$blue: #0071bb;

$slate-gray: #323a44;
$dark-gray: #333;
$gray: #5b616a;
$medium-gray: #8e959f;
$light-gray: #d6d7d9;
$lightest-gray: #f1f1f1;

$text: $dark-gray;
$light-text: $light-gray;

$font: akagi-pro, sans-serif;
$serif-font: ff-tisa-web-pro,sans-serif;

$gutter-large: 60px;
$gutter-small: 15px;