$white: #fff;
$black: #17181a;
$pitch-black: #000;

$blue: #0071bb;
$medium-blue: #01a6d2;
$light-blue: #3898ec;
$red: #ea384c;
$pink: #ffdede;
$green: #48a463;
$teal: #0097A7;
$orange: #e59700; // outline

$slate-gray: #323a44;
$dark-gray: #333;
// $gray: #5b616a;
$gray: #5f646e;
$medium-gray: #8e959f;
$nines: #999;
$ccc: #ccc;
$ddd: #ddd;
$eee: #eee;
$light-gray: #d6d7d9;
$lighter-gray: #f1f1f1;
$lightest-gray: #fafafa;

$text: $dark-gray;
$light-text: $light-gray;

$font: akagi-pro, sans-serif;
$serif-font: ff-tisa-web-pro,sans-serif;
$fixed-font: monospace, monospace;


$gutter-large: 60px;
$gutter-small: 15px;

$medium: 667px;
$wide: 960px;
