// WORK
$slide-width: 85vw;
$slide-width: 280px;
// $slide-width-large: calc(100vw - 10px);
$slide-width-large: 100vw;


.our-work-container {
  padding: 0;
  max-width: 100%;
  position: relative;
} // .work-container

.work-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 40px;
  margin-top: -20px;
  z-index: 2;

  .work-carousel--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    z-index: 3;
  }

  .carousel-button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: $light-gray;
    text-decoration: none;
    transition: background 0.15s ease-in-out;

    &.active {
      background: $light-blue;
      box-shadow: 0 0 5px fade-out($white,0.5) inset, 0 0 2px fade-out($white, 0.25);
    }
  }

  .work-slides {
    display: inline-flex;
    position: relative;
    height: $slide-width-large;
    margin-bottom: 30px;
    white-space: nowrap;
    transition: margin-left 1s ease-in-out 0.1s;
  } // .work-slides

  @media (min-width: $medium) {
    margin-top: 0;
    padding: 0 20px 30px;

    .work-slides {
      display: grid;
      grid-template-columns: repeat(3, calc((94vw - 40px) / 3));
      grid-gap: 0 3vw;
      white-space: normal;
      width: auto;
      height: auto;
      margin-bottom: 0;

      .ie11 & {
        display: block;
      }
    }

    .work-carousel--buttons {
      display: none;
    }
  } // media

  @media (min-width: $wide) {
    margin: 30px 0;
    padding: 0;
    overflow: visible;

    .work-slides {
      grid-template-columns: repeat(3, calc(100% / 3));
      grid-gap: 0;
    }
  } // media

} // .work-carousel


.work-slide {
  display: flex;
  position: relative;
  justify-content: center;
  white-space: normal;
  width: 100vw;
  font-size: 14px;
  font-weight: normal;

  .work-slide--image {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: $gray;
    width: $slide-width-large;
    height: $slide-width-large;
  }

  .work-slide-cover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    width: $slide-width-large;
    height: $slide-width-large;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 20.54%, rgba(50, 58, 68, 0.7) 86.25%);
    padding: 15px 10px 15px 15px;
    z-index: 2;
  }

  .work-slide--partner {
    position: relative;
    width: 100%;
    font-size: 1em;
    font-family: $font;
    line-height: 1.2;
    color: $white;
    height: 34px;
  }

  .work-slide--project {
    position: relative;
    width: 100%;
    font-family: $serif-font;
    font-size: 1.5em;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: $white;
    max-height: 52px;
  }

  .work-slide-overlay {
    display: flex;
    position: absolute;
    background: fade-out($white, 0.2);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    cursor: pointer;

    &:focus {
      opacity: 1.0;
      box-shadow: 0 0 5px inset $orange;
    }
  } // .work-slide-overlay

  &.active {
    .work-slide-overlay {
      // opacity: 0.3;
      box-shadow: 0 0 5px inset $orange;
    }
  }

  @media (min-width: $medium) {
    width: 100%;
    height: $slide-width;
    max-width: calc(94vw / 3);
    max-height: calc(94vw / 3);
    margin-bottom: 20px;

    .work-slide--image, .work-slide-cover {
      width: 100%;
      height: 100%;
    }

    .work-slide-cover {
      padding-bottom: 15px;

      .work-slide--project {
        font-size: 1.25em;
        letter-spacing: normal;
        max-height: 60px;
      }
    }

    .work-slide-overlay {
      transition: opacity 0.25s ease-in-out 0.1s;

      &:hover, &:focus {
        opacity: 1.0;
      }

      &:focus {
        box-shadow: none;
      }

      .button {
        margin: 0;
      }
    }

    .ie11 & {
      width: calc(90% / 3);
      float: left;
      margin-right: calc(10% / 3);
      max-width: calc(90% / 3);

      &:nth-child(3n) {
        margin-right: 0;
      }

    }

  }  // $medium

  @media (min-width: $wide) {
    width: $slide-width;
    height: $slide-width;

    .work-slide-cover {

      .work-slide--project {
        letter-spacing: 0.01em;
        font-size: 1.5em;
        max-height: 52px;
        height: 52px;
      }

    }
  }

} // .work-slide


.modal--work {

  .work--image {
    margin: 1em 0;
    width: 100%;
  }

  .work--partner, .work--project {
    max-width: 100%;
    margin: 0;
    line-height: 1.25;
  }

  .work--partner {
    font-size: 1.1em;
  }

  .work--project {
    font-size: 2em;
    letter-spacing: -0.01em;
  }

  .work--tags {
    display: none;
    margin: 25px 0 0;

    .work-tag {
      display: inline-block;
      border-radius: 100px;
      padding: 4px 20px;
      color: $white;
      background: lighten($slate-gray, 25%);
      font-size: 14px;
      font-weight: normal;
      font-family: $font;
      line-height: 1;
      // cursor: pointer;
      transition: all 0.25s;

      // &:hover {
      //   background: lighten($slate-gray, 10%);
      // }
    }
  } // .work--tags

  @media (min-width: $wide) {

    .work--image {
      width: 800px;
      height: 400px;
    }

    .work--project {
      letter-spacing: normal;
    }

    .work--tags {
      display: block;
    }


  }
} // .modal-work
