$white: #fff;
$black: #131313;

$slate-gray: #323a44;
$dark-gray: #333;
$gray: #5b616a;
$medium-gray: #8e959f;
$light-gray: #d6d7d9;
$lightest-gray: #f1f1f1;

$text: $dark-gray;
$light-text: $light-gray;

$font: akagi-pro, sans-serif;
$serif-font: ff-tisa-web-pro,sans-serif;

// WORK
$slide-width: 720px;

.work-carousel {
  position: relative;
  width: $slide-width;
  min-height: 420px;
  overflow: hidden;

  .work-carousel--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .carousel-button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: $gray;
    text-decoration: none;
    transition: background 0.15s ease-in-out;

    &.active {
      background: $light-gray;
    }

    &:hover {
      background: $white;
    }
  }
}

.work-slides {
  display: inline-flex;
  position: relative;
  margin-left: 0;
  margin-bottom: 0;
  white-space: nowrap;
  transition: margin-left 1s ease-in-out 0.1s;
}

.work-slide {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: $slide-width;
  margin-right: 30px;
  white-space: normal;
  font-size: 20px;
  font-weight: normal;
  font-family: $font;

  .work-slide--image {
    background: $gray;
    width: 100%;
    min-height: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .work-slide--partner {
    width: 100%;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    color: $medium-gray;
  }

  .work-slide--project {
    width: 100%;
    font-size: 1.25em;
    line-height: 2;
    text-align: center;
    color: $white;
  }

  .work-slide--blurb {
    font-family: $serif-font;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 1.5rem;
    text-align: justify;
    color: $light-text;
    max-width: 95%;
  }

} // .work-slide